@font-face {
  font-family: ClearSans;
  src: url(./fonts/20930.ttf);
}
@font-face {
  font-family: GardensCM;
  src: url(./fonts/20011.ttf);
}
.Card {
  -webkit-box-shadow: 21px 21px 19px 6px rgba(34, 60, 80, 0.18);
  -moz-box-shadow: 21px 21px 19px 6px rgba(34, 60, 80, 0.18);
  box-shadow: 21px 21px 19px 6px rgb(0 0 0 / 18%);
}

.Card:hover {
  transition: 0.5s;
  cursor: pointer;
  margin-top: -20px;
}
.Card:not(:hover) {
  margin-top: 0px;
  cursor: pointer;
  transition: 0.5s;
}
header {
  font-family: GardensCM;
}
footer {
  font-family: GardensCM;
}
.mainText {
  font-family: ClearSans;
}
@media (width <=400px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  .headertext {
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
  }
  header {
    display: flex;
    justify-content: center;

    font: 200;
    height: 10vh;
    background-color: #fff;
  }
  footer {
    display: flex;

    font: 200;
    height: 10vh;
    background-color: #fff;
  }
  .footertext {
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainText {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .about-info {
    gap: 30px;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    width: 100vw;
    padding: 40px;
  }
  .about-info img {
    height: 30vh;
    width: 80vw;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px 40px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 60vw;
    height: 40vh;
  }
  .Card img {
    width: 55vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 30px;
    font-family: GardensCM;
  }
}
@media (width <= 510px) and (width > 400px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  .headertext {
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
    /* border-right: 10px solid black; */
  }
  header {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #fff;
  }
  header p {
    font-size: 40px;
  }
  footer {
    display: flex;

    font: 200;
    height: 10vh;

    background-color: #fff;
  }
  .footertext {
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 22px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainText {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .about-info {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 34px;
    width: 100vw;
    padding: 40px 80px 40px 80px;
  }
  .about-info img {
    max-width: 100%;
    height: 30vh;
    width: 80vw;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px 40px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 60vw;
    height: 40vh;
  }
  .Card img {
    width: 55vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}
@media (width > 510px) and (width <= 1440px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  .headertext {
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
  }
  header {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #fff;
  }
  header p {
    font-size: 60px;
  }
  footer {
    display: flex;

    font: 200;
    height: 10vh;

    background-color: #fff;
  }
  .footertext {
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainText {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    display: flex;
    justify-content: center;
  }
  .about-info {
    flex-direction: column;
    display: flex;
    gap: 30px;
    font-size: 36px;
    width: 80vw;
    padding: 40px 70px 40px 70px;
  }
  .about-info img {
    max-width: 100%;
    height: 30vh;
    width: 80vw;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: center;
  }
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 33vw;
    height: 40vh;
  }
  .Card img {
    width: 27vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}

@media (width >= 1440px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 36px;
    width: 80vw;
    padding: 40px 80px 40px 100px;
  }
  .about-info img {
    height: 60vh;
    width: 80vh;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  .headertext {
    padding: 0px 0px 0px 5px;
    display: flex;

    align-items: center;
    height: 100%;
    font-size: 32px;
    /* border-right: 10px solid black; */
  }
  header {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: #fff;
    border-bottom: 2px solid black;
  }
  header p {
    font-size: 65px;
  }
  footer {
    display: flex;

    font: 200;
    height: 10vh;

    background-color: #fff;
  }
  .footertext {
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainText {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    display: flex;
    justify-content: center;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 40px 40px 40px;
    flex-direction: row;
    justify-content: center;
  }
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 22vw;
    height: 40vh;
  }
  .Card img {
    width: 18vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}
