@media (width <= 500px) {
  
}

@media (width <= 1440px) {
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   
    background-color: 	#CADCFC;
    height: 100%;
    width: 100%;
}
.headertext {
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
    /* border-right: 10px solid black; */
}
header {
    display: flex;
    
    font: 200;
    height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}
footer {
    display: flex;
    
    font: 200;
    height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    
}
.footertext {
    padding: 0px 0px 0px 5px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
}
main {
    display: flex;
    justify-content: center;
}
.CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px 40px 0px;
    flex-direction: row;
    justify-content: center;
}
.Card {
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 20vw;
    height: 40vh;
}
